<!-- Top Header -->
<div class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="top-header-box">
          <span class="top-header-email">Email: danh13320031@gmail.com</span>
          <span class="top-header-webcome">Chào mừng bạn đến với shop mỹ phẩm của chúng tôi!</span>
          <span class="top-header-phone">Phone: 0839 537 617</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Top Header -->

<!-- Header -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-12 header-logo mt-2">
        <a href="/" class="header-logo-link"
          ><img
            src="/client/images/Benefit_Cosmetics_logo.png"
            alt="logo"
            width="130px"
            class="header-logo-img"
        /></a>
      </div>

      <div class="col-lg-6 col-12 header-search">
        <form method="" action="" class="header-search-box mt-2">
          <input
            type="text"
            name="search"
            placeholder="Nhập từ khóa..."
            class="header-search-inp"
          />
          <button type="submit" class="header-search-button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>

      <div class="col-lg-4 col-12 header-others">
        <div class="header-others-box mt-2">
          <div class="header-others-cart">
            <i class="bi bi-bag-check-fill"></i>
          </div>
          <div class="header-others-notice">
            <i class="fa-solid fa-bell"></i>
          </div>
          <div class="header-others-auth">
            <div class="auth-avatar">
              <i class="bi bi-person-circle"></i>
              <ul class="auth-list">
                <li class="auth-item">
                  <a href="/login" class="auth-link"
                    ><i class="fa-solid fa-right-to-bracket"></i>Đăng nhập</a
                  >
                </li>
                <li class="auth-item">
                  <a href="/login" class="auth-link"
                    ><i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a
                  >
                </li>
                <li class="auth-item">
                  <a href="<%= prefixAdmin %>/dashboard" class="auth-link"
                    ><i class="fa-solid fa-right-from-bracket"></i>Quản trị</a
                  >
                </li>
                <li class="auth-item">
                  <a href="/setting" class="auth-link"><i class="fa-solid fa-gear"></i>Cài đặt</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header -->

<!-- Nav -->
<nav class="navheader">
  <div class="container">
    <div class="row">
      <div class="col-12 navheader-menu">
        <ul class="navheader-menu-list nav nav-pills nav-fill">
          <li class="navheader-menu-item">
            <a href="/" <% if(homeActive) { %>
              class="navheader-menu-link nav-link active" <% } else { %> class="navheader-menu-link
              nav-link" <% } %> aria-current="page" >Trang chủ</a
            >
          </li>
          <li class="navheader-menu-item">
            <a href="/about.html" class="navheader-menu-link nav-link">Giới thiệu</a>
          </li>
          <li class="navheader-menu-item">
            <a href="/products" <% if(productActive) { %>
              class="navheader-menu-link nav-link active" <% } else { %> class="navheader-menu-link
              nav-link" <% } %> >Sản phẩm</a
            >
          </li>
          <li class="navheader-menu-item">
            <% const pathCategory = "/categories" %>
            <a href="#" class="navheader-menu-link nav-link"
              >Thể loại <i class="bx bx-chevron-down"></i
            ></a>
            <%- include("./selecttree.view.ejs", { categoryListTree: categoryTree, level: 1}) %>
          </li>
          <li class="navheader-menu-item">
            <a href="/contact.html" <% if(newsActive) { %>
              class="navheader-menu-link nav-link active" <% } else { %> class="navheader-menu-link
              nav-link" <% } %>>Tin tức</a
            >
          </li>
          <li class="navheader-menu-item">
            <a href="/contact.html" <% if(contactActive) { %>
              class="navheader-menu-link nav-link active" <% } else { %> class="navheader-menu-link
              nav-link" <% } %>>Liên hệ & Giúp đỡ</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- End Nav -->
