<!-- Header Mobie -->
<header class="header-mobie">
  <div class="container">
    <div class="row">
      <div class="col-6 header-mobie-logo">
        <a href="/" class="logo-link"
          ><img
            src="/client/images/Benefit_Cosmetics_logo.png"
            alt="logo"
            width="120px"
            class="logo-img"
        /></a>
      </div>
      <div class="col-6 header-mobie-menu">
        <div class="menu-icon icon-bar">
          <i class="fa-solid fa-bars"></i>
        </div>
        <a
          href="/cart"
          class="menu-icon icon-cart"
          title="Hiện có <%= miniCart ? miniCart.totalQuantityOrder : 0  %> đơn hàng trong giỏ hàng"
        >
          <i class="bi bi-bag-check-fill"></i>
          <% if(miniCart) { %>
          <div class="header-others-cart-number"><%= miniCart.totalQuantityProduct %></div>
          <% } %>
        </a>
        <div class="menu-icon icon-search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header Mobie -->

<!-- Navheader Mobie -->
<nav class="navheader-mobie">
  <div class="navheader-mobie-box">
    <div class="navheader-mobie-bg">
      <div class="col-12 mt-5">
        <div class="navheader-mobie-nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="" class="nav-link"><i class="fa-solid fa-house me-2"></i>Trang chủ</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"><i class="fa-solid fa-hand me-2"></i>Giới thiệu</a>
            </li>
            <li class="nav-item">
              <a href="/products" class="nav-link"
                ><i class="bi bi-list-columns-reverse me-2"></i>Sản phẩm</a
              >
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"
                ><i class="bi bi-list-task me-2"></i>Thể loại<i
                  class="bx bx-chevron-down float-end mt-1"
                ></i
              ></a>
              <ul class="nav-list-dropdown">
                <li class="nav-item">
                  <a href="" class="nav-link">Skincare</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Bodycare</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Haircare</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Nailcare</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Makeup</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Perfume</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"><i class="fa-solid fa-phone-flip me-2"></i>Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- End Navheader Mobie -->
