<ul class="shadow navheader-list-dropdown level-<%= level %>">
  <% categoryListTree.forEach(category => { %>
  <li class="navheader-menu-item">
    <a href="/products?category=<%= category.slug %> " class="navheader-menu-link nav-link"
      ><%= category.title %></a
    >
    <% if(category.children && category.children.length > 0) {%> <%-
    include("./selecttree.view.ejs", { categoryListTree: category.children, level: level + 1}) %> <%
    } %>
  </li>
  <% }) %>
</ul>
