# Application configuration
PORT=
HOSTNAME=

# Connect to database with MongoDB Atlas
COOKIE_SECRET=
USERNAME_DB_CONNECT=
PASSWORD_DB_CONNECT=
CONNECT_DB_STRING=

# Format text with TinyMCE
TINIMCE_API_KEY=

# Store media files with Cloudinary
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

# Google secret for Nodemailer
GOOGLE_USER_EMAIL=
GOOGLE_APP_PASSWORD=

# Google oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

# Facebook secret
FACEBOOK_APP_ID=

# Token & Otp
JWT_VERIFY_TOKEN_SECRET=
JWT_ACCESS_TOKEN_SECRET=
jWT_REFRESH_TOKEN_SECRET=

VERIFY_TOKEN_EXPIRES_IN=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=
OTP_EXPIRES_IN=

# VNPAY payment
VNP_TMNCODE=
VNP_HASHSECRET=
VNP_RETURNURL=

# Chatbot
CHATBOT_CLOUD_API_KEY=
