/* Set up */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Set up color */
:root {
  --primary-color-admin: rgb(26, 114, 190);
  --secondary-color-admin: ;
  --hover-color-admin: rgb(53, 128, 194);
}

/* Setup scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Setup bootstrap */
.btn-primary {
  background-color: var(--primary-color-admin);
  border-color: var(--primary-color-admin);
}
.btn-primary:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--hover-color-admin);
  border-color: var(--hover-color-admin);
}
.btn-outline-primary {
  color: var(--primary-color-admin);
  border-color: var(--primary-color-admin);
}
.btn-outline-primary:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--primary-color-admin);
  border-color: var(--primary-color-admin);
}
.btn-outline-primary.active {
  background-color: var(--primary-color-admin);
  border-color: var(--primary-color-admin);
}
.text-primary {
  color: var(--primary-color-admin) !important;
}
.form-control:focus {
  color: var(--primary-color-admin);
  box-shadow: unset;
  border: 1px solid var(--primary-color-admin);
}
.nav-pills .nav-link {
  border-radius: 0px !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--hover-color-admin);
}
.table {
  --bs-table-hover-bg: rgba(162, 203, 238, 0.2);
}

/* Set up font */
:root {
  --primary-font: ;
  --secondary-font: ;

  --heading-size: ;
  --title-size: ;
  --content-size: ;

  --heading-weight: 700;
  --title-weight: ;
}

/* Set up button */
:root {
  --btn-color-border: ;
  --btn-padding: ;
  --btn-radius: ;
}
