/* Top Header */
.top-header {
  width: 100%;
  background: var(--light-gray-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.top-header .top-header-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header .top-header-box .top-header-email,
.top-header-webcome,
.top-header-phone {
  padding: 5px 0px;
  font-family: var(--primary-font-family);
  font-weight: var(--content-font-weight);
  font-size: var(--content-font-size);
}
/* End Top Header */

/* Header */
.header {
  position: sticky;
  z-index: 1000;
  top: 33px;
  width: 100%;
  padding: 20px 0px;
  background: rgb(255, 255, 255);
}

/* Header search */
.header .header-search .header-search-box {
  width: 75%;
  display: flex;
  float: right;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--light-gray-color);
}
.header .header-search .header-search-box:hover {
  border: 2px solid var(--primary-color);
  transition: 0.4s ease-out;
}
.header .header-search .header-search-box .header-search-inp {
  width: 450px;
  padding: 7px 8px;
  background: var(--light-gray-color);

  font-family: var(--primary-font-family);

  border: none;
  outline: none;
}
.header .header-search .header-search-box .header-search-button,
.header-search-button i {
  border: none;
}
.header .header-search .header-search-box .header-search-button i {
  padding: 11px;
  background: var(--light-gray-color);
}
.header .header-search .header-search-box:hover .header-search-button i {
  background: var(--primary-color);
  transition: 0.4s ease-out;
}

/* Header others */
.header .header-others .header-others-box {
  display: flex;
  justify-content: flex-end;
}
.header .header-others .header-others-box .header-others-cart,
.header-others-auth .auth-avatar,
.header-others-notice {
  width: 40px;
  height: 40px;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray-color);
  border-radius: 20px;
  cursor: pointer;
}
.header .header-others .header-others-box .header-others-auth .auth-avatar {
  margin-right: unset;
  position: relative;
}
.header .header-others .header-others-box .header-others-auth .auth-avatar .auth-list {
  width: 150px;
  padding-left: unset;
  position: absolute;
  top: 60px;
  left: -105px;
  background: var(--dark-gray-color);
  opacity: 0;
  visibility: hidden;
}
.header .header-others .header-others-box .header-others-auth .auth-avatar:hover .auth-list {
  top: 45px;
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-out;
}
.header .header-others .header-others-box .header-others-auth .auth-avatar .auth-list::before {
  width: 8px;
  height: 8px;
  content: '';
  position: absolute;
  top: -4px;
  right: 20px;
  background: var(--dark-gray-color);
  transform: rotateZ(45deg);
}
.header-others .header-others-box .header-others-auth .auth-avatar .auth-list .auth-item:hover i,
.auth-link {
  color: var(--primary-color);
}
.header
  .header-others
  .header-others-box
  .header-others-auth
  .auth-avatar
  .auth-list
  .auth-item
  .auth-link {
  padding: 5px 10px;
  display: block;
  color: var(--light-gray-color);
  text-decoration: none;
}
.header
  .header-others
  .header-others-box
  .header-others-auth
  .auth-avatar
  .auth-list
  .auth-item
  .auth-link
  i {
  margin-right: 10px;
}
.header .header-others .header-others-box .header-others-cart i,
.header-others-notice i,
.header-others-auth i {
  color: var(--light-gray-color);
  font-size: 20px;
}
.header .header-others .header-others-cart i,
.header-others-auth i {
  margin-bottom: 2px;
  margin-left: 1px;
}
.header .header-others .header-others-box .header-others-cart:hover i,
.header-others-auth:hover i.bi-person-circle,
.header-others-notice:hover i {
  color: var(--primary-color);
  transition: 0.4s ease;
}
/* End Header */

/* Nav */
.navheader {
  position: sticky;
  top: 133px;
  z-index: 999;
  width: 100%;
  height: 50px;
  background-color: var(--dark-gray-color);
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.158);
}
.navheader .navheader-menu .navheader-menu-list {
  padding-left: unset;
  display: flex;
  justify-content: center;
}
.navheader .navheader-menu .navheader-menu-list .navheader-menu-item {
  position: relative;
}
.navheader .navheader-menu .navheader-menu-list .navheader-menu-item .navheader-menu-link.active {
  background: var(--primary-color);
  color: var(--dark-gray-color);
  transition: 0.4s ease-out;
}
.navheader .navheader-menu .navheader-menu-list .navheader-menu-item .navheader-list-dropdown {
  width: 200px;
  padding-left: unset;
  position: absolute;
  top: 70px;
  left: 50%;
  background: var(--dark-gray-color);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.214);
  opacity: 0;
  z-index: 999;
  visibility: hidden;
}
.navheader
  .navheader-menu
  .navheader-menu-list
  .navheader-menu-item
  .navheader-list-dropdown
  .navheader-menu-item {
  border-bottom: 1px solid var(--light-gray-color);
}
.navheader
  .navheader-menu
  .navheader-menu-list
  .navheader-menu-item:hover
  .navheader-list-dropdown {
  top: 50px;
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-out;
}
.navheader .navheader-menu .navheader-menu-list .navheader-menu-item {
  border-bottom: 1px solid var(--light-gray-color);
}
.navheader .navheader-menu .navheader-menu-list .navheader-menu-item .navheader-menu-link {
  padding: 13px 20px;
  display: block;
  color: var(--light-gray-color);
  font-family: var(--primary-font-family);
  font-weight: var(--title-font-weight);
  text-decoration: none;
  border-radius: unset;
}
.nav-pills .nav-link.active:visited,
.nav-pills .show > .nav-link:visited {
  color: var(--dark-gray-color) !important;
  background: var(--primary-color) !important;
}
.navheader .navheader-menu .navheader-menu-list .navheader-menu-item .navheader-menu-link:hover {
  color: var(--dark-gray-color);
  background: var(--primary-color);
  transition: 0.4s ease-out;
}
.navheader .navheader-menu .navheader-menu-list .navheader-menu-item .navheader-menu-link i {
  transform: rotate(0deg) translateY(3px);
  font-size: 20px;
}
/* End Nav */

/* Header Mobie */
.header-mobie {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  display: none;
  padding: 10px 0px;
  background: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.071);
}
.header-mobie .header-mobie-menu .menu-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  background: var(--light-gray-color);
  cursor: pointer;
}
.header-mobie .header-mobie-menu .menu-icon:hover {
  background: var(--primary-color);
  transition: 0.4s ease-out;
}
.header-mobie .header-mobie-menu .menu-icon i {
  font-size: var(--icon-font-size);
}
.navheader-mobie .navheader-mobie-box {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 40px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: 0.4s ease-out;
  z-index: 998;
}
.navheader-mobie .navheader-mobie-box.active {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-out;
}
.navheader-mobie .navheader-mobie-box .navheader-mobie-bg {
  width: 68%;
  height: 100%;
  background: var(--dark-gray-color);
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.178);
  transform: translateX(-100%);
  transition: 0.4s ease-out;
  overflow-y: scroll;
}
.navheader-mobie .navheader-mobie-box .navheader-mobie-bg.active {
  transform: translateX(0);
}
.navheader-mobie .navheader-mobie-box .navheader-mobie-bg .navheader-mobie-delete {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navheader-mobie .navheader-mobie-box .navheader-mobie-bg .navheader-mobie-delete i {
  padding: 8px 11px;
  font-size: var(--icon-font-size);
  font-weight: var(--heading-font-weight);
}
.navheader-mobie .navheader-mobie-box .navheader-mobie-bg .navheader-mobie-delete i:hover {
  background: var(--primary-color);
  transition: 0.4s ease-out;
}

/* Navheader Mobie Nav */
.navheader-mobie-nav .nav-list {
  list-style: none;
  padding-left: unset;
  color: var(--light-gray-color);
}
.navheader-mobie-nav .nav-list .nav-item {
  padding: 5px;
}
.navheader-mobie-nav .nav-list .nav-item .nav-link {
  padding: 10px 15px;
  background: rgb(52, 52, 52);
  border-radius: 5px;
}
.navheader-mobie-nav .nav-list .nav-item .nav-link:hover {
  background: rgb(68, 68, 68);
}
.navheader-mobie-nav .nav-list .nav-item .nav-list-dropdown {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.navheader-mobie-nav .nav-list .nav-item:hover .nav-list-dropdown {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-out;
}
/* End Header Mobie */
