/* Pagination */
.pagination-item {
  padding: 5px 12px;
  margin: 0px 2px;
  color: var(--dark-gray-color) !important;
  border: var(--border-thickness-button) solid var(--light-gray-color);
  border-radius: 0px !important;
  transition: 0.4s ease;
  cursor: pointer;
}
.pagination-item.nav-link.active {
  color: var(--light-gray-color) !important;
  background: var(--dark-gray-color) !important;
  border: var(--border-thickness-button) solid var(--dark-gray-color) !important;
}
.pagination-item:hover {
  color: var(--light-gray-color) !important;
  background: var(--dark-gray-color) !important;
  border: var(--border-thickness-button) solid var(--dark-gray-color) !important;
}
/* End Pagination */
