#footer {
  position: fixed;
  bottom: 0;
  left: 250px;
  z-index: 1000;
  width: calc(100% - 250px);
  max-width: 100%;
}

@media screen and (max-width: 992px) {
  #footer {
    left: 0;
    width: 100%;
  }
}
