/* Header */
.header {
  background-color: var(--primary-color-admin);
  padding: 10px 0px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header .inner-logo a {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
.header .inner-auth .account-button-info {
  width: 30px;
  height: 30px;
  background-color: aliceblue;
  border-radius: 50%;
  position: relative;
}
.header .inner-auth .account-button-info .account-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-color-admin);
  overflow: hidden;
}
.header .inner-auth .account-button-info .account-avatar img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.header .inner-auth .account-button-info .account-info-list {
  width: 220px;
  background: white;
  display: none;
  list-style: none;
  position: absolute;
  border: 1px solid #ccc;
  top: 120%;
  left: -610%;
  padding: 10px;
}
.header .inner-auth .account-button-info .account-info-list.active {
  display: block;
  z-index: 9999;
}
.header .inner-auth .account-button-info .account-info-list::before {
  width: 8px;
  height: 8px;
  content: '';
  position: absolute;
  top: -4px;
  right: 18px;
  background: rgb(255, 255, 255);
  transform: rotate(45deg);
}
/* End Header */

/* Body */
.body .sider {
  width: 150px;
  background-color: var(--primary-color-admin);
  color: #fff;
  height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 998;
}

.body .main {
  margin: 15px;
  position: relative;
  left: 150px;
  width: calc(100% - 180px);
}
/* End Body */

/* Sider */
.sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sider .inner-menu ul li a {
  padding: 6px 10px;
  display: block;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid var(--hover-color-admin);
}
.sider .inner-menu ul li a:hover {
  background-color: var(--hover-color-admin);
  transition: 0.4s ease-out;
}
.sider .inner-menu ul li a i {
  margin-right: 10px;
}
/* End Sider */

/* Model */
.modal-black {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.658);
}
.modal-black i {
  cursor: pointer;
}
.modal-black .modal-bg {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  overflow: hidden;
}
.modal-black .modal-bg .modal-head {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color-admin);
  color: white;
}
.modal-black .modal-bg .modal-body {
  padding: 20px 10px;
  border-bottom: 1px solid #ccc;
}
.modal-black .modal-bg .modal-btn {
  padding: 5px 10px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #ccc;
}
/* End Model */
.page-link:focus {
  box-shadow: unset;
}
.alert {
  position: fixed;
  left: calc(50% - 170px);
  top: calc(0% - 70px);
  z-index: 1000;
  width: 340px;
  animation: alert-transition 2s cubic-bezier(0.41, -0.93, 0.59, 1.95) 0.8s;
}
.alert .icon-delete {
  padding: 0px 5px;
  display: block;
  cursor: pointer;
  border-radius: 15px;
}
.alert .icon-delete:hover {
  background: rgba(255, 255, 255, 0.644);
  transition: 0.2s ease-out;
}
@keyframes alert-transition {
  0% {
    top: calc(0% - 70px);
    opacity: 0;
  }
  10% {
    top: calc(0% + 10px);
    opacity: 1;
  }
  50% {
    top: calc(0% + 10px);
    opacity: 1;
  }
  75% {
    top: calc(0% + 10px);
    opacity: 1;
  }
  90% {
    top: calc(0% + 10px);
    opacity: 1;
  }
  100% {
    top: calc(0% - 70px);
    opacity: 0;
  }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .body {
    display: block;
  }
  .body .sider {
    width: 100%;
    height: auto;
    background-color: var(--primary-color-admin);
    color: #fff;
    position: fixed;
    top: 56px;
    left: 0;
  }
  .sider .inner-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: scroll;
  }
  .sider .inner-menu ul li a {
    padding: 0;
    border-bottom: none;
    height: 100%;
    text-align: center;
    border-left: 1px solid var(--hover-color-admin);
    border-right: 1px solid var(--hover-color-admin);
    border-top: 1px solid var(--hover-color-admin);
  }
  .sider .inner-menu ul li a i {
    display: none;
  }
  .body .main {
    margin: 15px;
    position: relative;
    left: 0px;
    width: unset;
  }
  .body .main h1 {
    margin-top: 60px;
  }
}
.image-box {
  width: 300px;
  margin: auto;
  padding: 10px;
  border: 1px solid var(--primary-color-admin);
  border-radius: 10px;
  box-sizing: content-box;
}
.image-box .image-upload {
  width: 300px;
  height: auto;
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
