<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/x-icon" href="/client/images/VENZA_LOGO_FAVICON.png" />

    <!-- Styles File -->
    <link rel="stylesheet" href="/client/setup.css" />
    <link rel="stylesheet" href="/client/styles/partials/alert.css" />
    <!-- End Styles File -->

    <!-- Styles Library & Framework Link -->
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- BoxIcon -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- End Styles Library & Framework Link -->
  </head>
  <body>
    <%-include('../../partials/alert-message.view.ejs') %>

    <main class="main">
      <div class="w-100 py-5 px-4 d-flex justify-content-center align-items-center forgot-password">
        <div
          class="bg-white d-flex flex-column gap-3 shadow forgot-password-box"
          style="max-width: 100%; width: 1000px"
        >
          <div class="row g-0">
            <div class="d-none d-md-block col-lg-6 col-md-6 col-12">
              <div class="d-flex justify-content-center h-100 forgot-password-image-box">
                <img
                  src="https://imc.net.vn/wp-content/uploads/2024/03/bo-san-pham-TWORLD-nen-vang-1-1024x767.jpg"
                  alt="logo"
                  width="100%"
                  style="background-size: cover"
                  class="forgot-password-logo"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 p-4">
              <div
                class="d-block d-md-flex justify-content-between align-items-end mb-4 forgot-password-logo"
              >
                <div class="d-flex mb-md-0 mb-3 justify-content-center">
                  <a href="/" class="tex-center forgot-password-logo-link">
                    <img
                      src="/client/images/Benefit_Cosmetics_logo.png"
                      alt="logo"
                      width="130px"
                      style="background-size: cover"
                    />
                  </a>
                </div>

                <h1
                  class="heading-font fw-bold text-uppercase p-0 forgot-password-title"
                  style="color: var(--primary-color)"
                >
                  <%= pageTitle %>
                </h1>
              </div>

              <form
                action="/forgot-password-create"
                method="POST"
                class="d-flex flex-column gap-2 forgot-password-form"
                id="forgot-password-form"
              >
                <div class="d-flex flex-column gap-0 forgot-password-input-box">
                  <label for="email" class="content-font fw-bold">Địa chỉ email</label>
                  <input
                    type="text"
                    name="email"
                    id="email"
                    placeholder="Nhập địa chỉ email..."
                    class="input-type01"
                  />
                  <span
                    class="forgot-password-input-error error-email"
                    style="color: var(--error-color); font-size: var(--error-font-size)"
                  ></span>
                </div>

                <div class="d-flex flex-column gap-1 forgot-password-link-box">
                  <div class="d-flex gap-1 justify-content-between forgot-password-link">
                    <a href="/login" class="content-font">Đăng nhập</a>
                    <a href="/register" class="content-font"> Đăng ký </a>
                  </div>
                </div>

                <div class="d-flex flex-column gap-1 mt-4 forgot-password-button-box">
                  <button
                    type="submit"
                    class="button-secondary forgot-password-btn"
                    id="forgot-password-btn-submit"
                  >
                    Gửi mail xác nhận
                  </button>
                </div>

                <div class="mt-4 forgot-password-social-box">
                  <div class="d-flex justify-content-center gap-2 forgot-password-social">
                    <button type="button" class="button-primary forgot-password-social-btn">
                      <i class="bi bi-facebook"></i>
                    </button>
                    <button type="button" class="button-primary forgot-password-social-btn">
                      <i class="bi bi-google"></i>
                    </button>
                    <button type="button" class="button-primary forgot-password-social-btn">
                      <i class="bi bi-apple"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Scripts File -->
    <script src="/client/scripts/alertMessage.js"></script>
    <script src="/client/scripts/auth/submitForgotPassword.js"></script>
    <!-- End Scripts File -->

    <!-- Scripts Library & Framework Link -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/aaf479b433.js" crossorigin="anonymous"></script>
    <!-- End Scripts Library & Framework Link -->

    <script src="/reload/reload.js"></script>
  </body>
</html>
