<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>

    <!-- Styles File -->
    <link rel="stylesheet" href="/client/setup.css" />
    <link rel="stylesheet" href="/client/styles/partials/alert.css" />
    <!-- End Styles File -->

    <!-- Styles Library & Framework Link -->
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- BoxIcon -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- End Styles Library & Framework Link -->
  </head>
  <body>
    <%-include('../../partials/alert-message.view.ejs') %>

    <main class="main">
      <div class="w-100 py-5 px-4 d-flex justify-content-center align-items-center password-reset">
        <div
          class="bg-white d-flex flex-column gap-3 shadow password-reset-box"
          style="max-width: 100%; width: 1000px"
        >
          <div class="row g-0">
            <div class="d-none d-md-block col-lg-6 col-md-6 col-12">
              <div class="d-flex justify-content-center h-100 password-reset-image-box">
                <img
                  src="https://duocmyphamhomi.vn/wp-content/uploads/2023/10/Gia-cong-my-pham-thien-nhien.png"
                  alt="logo"
                  width="100%"
                  style="background-size: cover"
                  class="password-reset-logo"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 p-4">
              <div
                class="d-block d-md-flex justify-content-between align-items-end mb-4 password-reset-logo"
              >
                <div class="d-flex mb-md-0 mb-3 justify-content-center">
                  <a href="/" class="tex-center password-reset-logo-link">
                    <img
                      src="/client/images/Benefit_Cosmetics_logo.png"
                      alt="logo"
                      width="130px"
                      style="background-size: cover"
                    />
                  </a>
                </div>

                <h1
                  class="heading-font fw-bold text-uppercase p-0 password-reset-title"
                  style="color: var(--primary-color)"
                >
                  <%= pageTitle %>
                </h1>
              </div>

              <form
                action="/forgot-password-reset-create"
                method="POST"
                class="d-flex flex-column gap-2 password-reset-form"
                id="password-reset-form"
              >
                <div
                  class="d-flex flex-column gap-0 password-reset-input-box password-reset-password"
                >
                  <label for="password" class="content-font fw-bold">Mật khẩu mới</label>
                  <div class="d-flex w-100">
                    <input
                      type="password"
                      name="password"
                      id="password"
                      placeholder="Nhập mật khẩu mới..."
                      class="input-type01 w-100"
                    />
                    <button
                      type="button"
                      class="button-icon-primary auth-show-password password-reset-show-password"
                    >
                      <i class="bi bi-eye-slash"></i>
                    </button>
                  </div>
                  <span
                    class="password-reset-input-error error-password"
                    style="color: var(--error-color); font-size: var(--error-font-size)"
                  ></span>
                </div>

                <div
                  class="d-flex flex-column gap-0 password-reset-input-box password-reset-password"
                >
                  <label for="password" class="content-font fw-bold">Xác nhận mật khâu mới</label>
                  <div class="d-flex w-100">
                    <input
                      type="password"
                      name="confirmPassword"
                      id="confirmPassword"
                      placeholder="Xác nhận mật khẩu mới..."
                      class="input-type01 w-100"
                    />
                    <button
                      type="button"
                      class="button-icon-primary auth-show-password password-reset-show-password"
                    >
                      <i class="bi bi-eye-slash"></i>
                    </button>
                  </div>
                  <span
                    class="password-reset-input-error error-password"
                    style="color: var(--error-color); font-size: var(--error-font-size)"
                  ></span>
                </div>

                <div class="d-flex flex-column gap-1 mt-4 password-reset-button-box">
                  <button
                    type="submit"
                    class="button-secondary password-reset-btn"
                    id="password-reset-btn-submit"
                  >
                    Đổi mật khâu
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Scripts File -->
    <script src="/client/scripts/alertMessage.js"></script>
    <script src="/client/scripts/auth/showHidePassword.js"></script>
    <script src="/client/scripts/auth/submitChangePassword.js"></script>
    <!-- End Scripts File -->

    <!-- Scripts Library & Framework Link -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/aaf479b433.js" crossorigin="anonymous"></script>
    <!-- End Scripts Library & Framework Link -->

    <script src="/reload/reload.js"></script>
  </body>
</html>
