<div class="container">
  <a href="http://127.0.0.1:5000/" class="logo">
    <img src="<%= clientWebsite ? clientWebsite.logo : '' %>" alt="logo" width="130px" />
  </a>

  <h2>Xin chào <span style="color: #f5b607"><%= fullname %></span></h2>
  <p>
    Cảm ơn bạn đã đăng ký tài khoản tại
    <strong><a href="http://127.0.0.1:5000/" style="color: #f5b607">VENZA</a></strong
    >! Để hoàn tất quá trình đăng ký, vui lòng nhấn vào nút bên dưới để kích hoạt tài khoản của bạn.
  </p>
  <div>
    <a href="<%= link %>">Kích hoạt tài khoản</a>
  </div>
  <p>Nếu bạn không tạo tài khoản này, hãy bỏ qua email này.</p>
  <div class="footer">© 2025 VENZA. Mọi quyền được bảo lưu.</div>
</div>
