.product-detail .product-detail-image .product-image-box .product-image-item {
  cursor: pointer;
}
.product-detail .product-detail-image .product-image-box .product-image-item:hover {
  border-color: var(--primary-color) !important;
}
.product-detail .product-detail-image .product-image-box {
  position: relative;
}
.product-detail .product-detail-image .product-image-box::after {
  position: absolute;
  content: 'Xem';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.671);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: var(--primary-color);
  text-shadow: 0px 0px 3px var(--light-primary-color);
  cursor: pointer;
  transition: 0.3s ease-out;
}
.product-detail .product-detail-image .product-image-box:hover::after {
  opacity: 1;
}

.product-detail-review-image {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-out;
}
.product-detail-review-image.active {
  opacity: 1;
  visibility: visible;
}
.product-detail-review-image .product-detail-review-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.678);
  cursor: pointer;
}
.product-detail-review-image .product-review-card-sider {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  max-width: 90%;
  transform: translate(-50%, -50%);
}

.product-info-title {
  text-align: left;
  padding: 0px;
}
.product-info-description {
  text-align: justify;
}
.product-info-rating {
  color: var(--primary-color);
}
.product-info-button .product-info-quantity {
  color: var(--dark-gray-color);
  border-color: var(--primary-color) !important;
}
.product-format-detail-content figure {
  display: flex;
  justify-content: center;
}
.product-format-detail-content img,
.product-format-detail-content figure img {
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
}

/* Product Card */
.card-related-slide .button-trans {
  display: flex;
}
.card-related-slide .button-trans .slick-list {
  padding: 20px 0px;
}
/* Product Card */
.card-bg {
  width: 100%;
  /* height: 100% !important; */
  padding: 10px;
  height: auto;
  color: var(--dark-gray-color);
  font-family: var(--primary-font-family);
  background: white;
  text-decoration: none;
  box-shadow: 0px 0px 18px var(--primary-shadow-color);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  position: relative;
}
.card-bg:hover {
  background: var(--light-primary-color);
  transform: translateY(-5px);
  transition: 0.2s ease-in-out;
}
.card-bg .card-discount-badge {
  position: absolute;
  top: 15px;
  left: 95%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 510;
}
.card-bg .card-discount-text {
  position: absolute;
  top: 15px;
  left: 95%;
  transform: translate(-50%, -50%);
  z-index: 550;
}
.card-bg .card-image {
  width: 100%;
  aspect-ratio: 3/3;
  position: relative;
  overflow: hidden;
}
.card-bg .card-image .card-thumbnail {
  object-fit: cover;
  position: absolute;
  z-index: 499;
}
.card-bg .card-image .card-link {
  width: 100%;
  height: 100%;
  background: #0000009e;
  object-fit: cover;
  position: absolute;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-101%);
  transition: 0.3s ease-out;
}
.card-bg:hover .card-image .card-link {
  transform: translateY(0%);
}
.card-bg .card-image .card-link .card-link-detail {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  padding: var(--padding-button);
  border: var(--border-thickness-button) solid var(--primary-color);
}
.card-bg .card-image .card-link .card-link-detail:hover {
  text-decoration: underline;
}
.card-bg .card-box {
  margin: 3px 0px;
  border-bottom: 1px solid var(--light-gray-color);
  border-radius: 0.5px;
}
.card-bg:hover .card-box {
  border-bottom: 1px solid var(--dark-gray-color);
  transition: 0.4s ease-out;
}
.card-bg .card-box .card-price {
  color: var(--primary-color);
}
.card-bg .card-box i {
  padding: 6.5px 8px 5.5px 8px;
  background: none;
  color: var(--dark-gray-color);
  font-size: var(--icon-font-size);
}
.card-bg .card-favorite i {
  font-size: var(--icon-font-size);
  color: var(--dark-gray-color);
}
.card-bg .card-favorite.active i {
  color: var(--error-color);
}
.card-bg .card-rating .card-star i {
  font-size: var(--icon-font-size2);
  color: var(--dark-gray-color);
}
.card-bg .card-rating i.bi-bag-check-fill {
  font-size: var(--icon-font-size);
  padding: 4px 8px;
  color: var(--dark-gray-color);
  background: none;
  border: 1px solid var(--dark-gray-color);
}
.card-bg .card-rating i.bi-bag-check-fill:hover {
  color: var(--light-gray-color);
  background: var(--dark-gray-color);
  transition: 0.4s ease-out;
}
/* End Product Card */
