/* Product Filter */
.product-filter {
  background: #f7f7f7;
}
.product-filter .product-filter-delete {
  display: none;
}
.product-filter .product-filter-category .filter-category-list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.product-filter .product-filter-category .filter-category-list .filter-category-item {
  padding: 5px 10px;
  background: var(--light-gray-color);
  color: var(--dark-gray-color);
  border-radius: 5px;
  transition: 0.4s ease-out;
}
.product-filter .product-filter-category .filter-category-list .filter-category-item.active {
  background: var(--dark-gray-color);
}
.product-filter
  .product-filter-category
  .filter-category-list
  .filter-category-item
  .filter-category-link {
  width: 100%;
  display: block;
  color: var(--dark-gray-color);
  text-decoration: none;
  text-align: left;
  background: none;
  font-size: var(--content-font-size);
  border: none;
  transition: 0.4s ease-out;
}
.product-filter
  .product-filter-category
  .filter-category-list
  .filter-category-item.active
  .filter-category-link {
  color: var(--light-gray-color);
}
.product-filter .product-filter-category .filter-category-list .filter-category-item:hover {
  background: var(--dark-gray-color);
}
.product-filter .product-filter-sale label,
.product-filter .product-filter-freeship label,
.product-filter .product-filter-featured label {
  color: var(--dark-gray-color);
  cursor: pointer;
  transition: 0.4s ease-out;
}
.product-filter .product-filter-sale label.active,
.product-filter .product-filter-freeship label.active,
.product-filter .product-filter-featured label.active {
  color: var(--primary-color);
}
.product-filter .product-filter-sale label:hover,
.product-filter .product-filter-freeship label:hover,
.product-filter .product-filter-featured label:hover {
  color: var(--primary-color);
}
.product-filter .product-filter-delete .product-filter-close {
  padding: var(--padding-button2);
  background: rgba(255, 255, 255, 0);
  border: var(--border-thickness-button) solid var(--dark-gray-color);
  transition: 0.4s ease;
}
.product-filter .product-filter-delete .product-filter-close:hover {
  color: var(--light-gray-color);
  background: var(--dark-gray-color);
}
/* End Product Filter */

/* Product Filter Remove */
.product-filter-remove .product-remove-search .product-search-keyword,
.product-filter-remove .product-remove-page .product-page-current {
  font-weight: 600;
  color: var(--primary-color);
}
.product-filter-remove .filter-remove-list .filter-remove-item {
  background: var(--light-gray-color);
  cursor: pointer;
  transition: 0.4s ease;
}
.product-filter-remove .filter-remove-list .filter-remove-item:hover {
  background: var(--primary-color);
}
/* End Product Filter Remove */

/* Product Card */
.card-bg {
  width: 100%;
  /* height: 100% !important; */
  padding: 10px;
  height: auto;
  color: var(--dark-gray-color);
  font-family: var(--primary-font-family);
  text-decoration: none;
  box-shadow: 0px 0px 18px var(--primary-shadow-color);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.card-bg:hover {
  background: var(--light-primary-color);
  transform: translateY(-5px);
  transition: 0.2s ease-in-out;
}
.card-bg .card-image {
  width: 100%;
  aspect-ratio: 3/3;
  position: relative;
  overflow: hidden;
}
.card-bg .card-image .card-thumbnail {
  object-fit: cover;
  position: absolute;
  z-index: 499;
}
.card-bg .card-image .card-link {
  width: 100%;
  height: 100%;
  background: #0000009e;
  object-fit: cover;
  position: absolute;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-101%);
  transition: 0.3s ease-out;
}
.card-bg:hover .card-image .card-link {
  transform: translateY(0%);
}
.card-bg .card-image .card-link .card-link-detail {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  padding: var(--padding-button);
  border: var(--border-thickness-button) solid var(--primary-color);
}
.card-bg .card-image .card-link .card-link-detail:hover {
  text-decoration: underline;
}
.card-bg .card-box {
  margin: 3px 0px;
  border-bottom: 1px solid var(--light-gray-color);
  border-radius: 0.5px;
}
.card-bg:hover .card-box {
  border-bottom: 1px solid var(--dark-gray-color);
  transition: 0.4s ease-out;
}
.card-bg .card-box .card-price {
  color: var(--primary-color);
}
.card-bg .card-box i {
  padding: 6.5px 8px 5.5px 8px;
  background: none;
  color: var(--dark-gray-color);
  font-size: var(--icon-font-size);
}
.card-bg .card-rating .card-star i {
  font-size: var(--icon-font-size2);
  color: var(--dark-gray-color);
}
.card-bg .card-rating i.bi-bag-check-fill {
  font-size: var(--icon-font-size);
  padding: 4px 8px;
  color: var(--dark-gray-color);
  background: none;
  border: 1px solid var(--dark-gray-color);
}
.card-bg .card-rating i.bi-bag-check-fill:hover {
  color: var(--light-gray-color);
  background: var(--dark-gray-color);
  transition: 0.4s ease-out;
}
/* End Product Card */

/* Product Filter Mobile */
.product-filter-mobile {
  display: none;
}
.product-filter-mobile .product-filter-quantity .filter-quantity-limit {
  padding: var(--padding-button);
  color: var(--dark-gray-color);
  border: 1px solid var(--light-gray-color);
  outline: none;
}
.product-filter-mobile .product-filter-button .filter-button-show {
  padding: var(--padding-button);
  background: white;
  color: var(--dark-gray-color);
  border: var(--border-thickness-button) solid var(--light-gray-color);
}
/* End Product Filter Mobile */

/* Pagination */
.product-pagination .product-pagination-item {
  padding: 5px 12px;
  margin: 0px 2px;
  color: var(--dark-gray-color);
  border: var(--border-thickness-button) solid var(--light-gray-color);
  border-radius: 0px !important;
  transition: 0.4s ease;
  cursor: pointer;
}
.product-pagination .product-pagination-item.nav-link.active {
  color: var(--light-gray-color);
  background: var(--dark-gray-color);
  border: var(--border-thickness-button) solid var(--dark-gray-color);
}
.product-pagination .product-pagination-item:hover {
  color: var(--light-gray-color);
  background: var(--dark-gray-color);
  border: var(--border-thickness-button) solid var(--dark-gray-color);
}
/* End Pagination */
