.order-person-order .order-person-order-avatar,
.order-person-receiver .order-person-receiver-avatar {
  width: 140px;
  aspect-ratio: 1/1;
  object-fit: contain;
  border: 1px solid var(--secondary-color-admin);
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .order-person-order .order-person-order-avatar,
  .order-person-receiver .order-person-receiver-avatar {
    width: 100%;
  }
}
