<form action="" class="d-flex form-category" method="GET">
  <select name="category" class="form-control flex-fill me-1" id="category">
    <option value="" disabled>-- Lựa chọn loại mỹ phẩm --</option>
    <option value="makeup">Make up</option>
    <option value="bodycare">Body care</option>
    <option value="skincare">Skin care</option>
    <option value="haircare">Hair care</option>
    <option value="nailcare">Nail care</option>
  </select>
  <button type="submit" class="btn btn-primary btn-category">
    <i class="bi bi-funnel"></i>
  </button>
</form>
