<form
  action="<%= prefixAdmin %>/<%= url %>/change-multi?_method=PATCH"
  method="POST"
  form-change-multi
>
  <div class="d-flex align-items-start w-100">
    <div class="form-group me-1 flex-fill">
      <select name="type" class="form-control">
        <option disabled selected>-- Danh mục lựa chọn --</option>
        <% if(roleAuth.permission.includes(`${type}-change-status`)) {%> <% if (statusList &&
        statusList.length > 0) { %> <% statusList.forEach((item) => { %>
        <option class="" value="<%= item.status %>" class="text-success"><%= item.name %></option>
        <% }) %> <% } %> <% } %>
        <%#----------------------------------------------------------------------------------%> <%
        if(roleAuth.permission.includes(`${type}-sort-delete`)) {%>
        <option value="soft-delete" class="text-danger">Xóa mềm tất cả</option>
        <% } %>
        <%#----------------------------------------------------------------------------------%> <%
        if(roleAuth.permission.includes(`${type}-restore`)) {%>
        <option value="restore" class="text-primary">Khôi phục tất cả</option>
        <% } %>
        <%#----------------------------------------------------------------------------------%> <%
        if(roleAuth.permission.includes(`${type}-hard-delete`)) {%>
        <option value="hard-delete" class="text-danger">Xóa vĩnh viễn tất cả</option>
        <% } %>
      </select>
    </div>
    <div class="form-group me-1 d-none">
      <input type="text" name="ids" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi bi-funnel"></i></button>
  </div>
</form>
