<header class="header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="inner-logo">
          <a href="/admin/dashboard"><i class="fa-solid fa-user-tie me-2"></i>ADMIN</a>
        </div>
      </div>
      <div class="col-6">
        <div class="inner-auth d-flex justify-content-end">
          <a href="<%= prefixAdmin %>/auth/logout" class="btn btn-primary">Đăng xuất</a>
          <!-- <div
            class="ms-2 mt-1"
            style="
              width: 30px;
              height: 30px;
              background-color: aliceblue;
              border-radius: 50%;
              overflow: hidden;
            "
          >
            <img src="/admin/images/Avatar.jpg" alt="avatar" width="100%" />
          </div> -->
        </div>
      </div>
    </div>
  </div>
</header>
