<form action="" class="mb-1" id="form-search">
  <div class="input-group">
    <input
      type="text"
      name="keyword"
      value="<%= keyword %>"
      placeholder="<%= placeholder  %>"
      id="input-search"
      class="form-control input-search"
    />
    <div class="input-group-append btn-group">
      <button type="button" class="btn btn-primary btn-search">
        <i class="bi bi-search"></i>
      </button>
      <button type="button" class="btn btn-primary btn-remove-search">
        <i class="bi bi-eraser"></i>
      </button>
    </div>
  </div>
</form>
