<form action="" class="mb-1" id="form-search">
  <div class="input-group">
    <input
      type="text"
      name="keyword"
      value="<%= keyword %>"
      placeholder="Nhập tiêu đề"
      class="form-control input-search"
    />
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary btn-search">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</form>
