<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= generalWebsite ? generalWebsite.name : '' %> Admin - <%= pageTitle %></title>
<link rel="icon" type="image/x-icon" href="<%= adminWebsite ? adminWebsite.favicon : '' %>" />
