<form class="d-flex" id="sort">
  <select name="sort" class="form-control w-75 flex-fill sort-select">
    <option value="" disabled>-- Danh mแปฅc sแบฏp xแบฟp --</option>
    <% if (sortValue) { %>
      <% sortOption.forEach((item) => { %>
        <option class="sort-option" value="<%= item %>" <% if(sortValue === item) {%>selected<% } %>>
          <% if(item === 'total-asc' || item === 'price-asc') {%>
            Giรก tฤng dแบงn ๐ตโ
          <% } else if(item === 'total-desc' || item === 'price-desc') {%>
            Giรก giแบฃm dแบงn ๐ตโ
          <% } else if (item === 'orderCode-asc') { %>
            Mรฃ ฤฦกn hรng A - Z ๐ฆ๐ฟ
          <% } else if (item === 'orderCode-desc') { %>
            Mรฃ ฤฦกn hรng Z - A z๐ฆ
          <% } else if (item === 'position-asc') { %>
            Vแป trรญ tฤng dแบงn โฌ
          <% } else if (item === 'position-desc') { %>
            Vแป trรญ giแบฃm dแบงn โฌ
          <% } else if (item === 'title-asc') { %>
            Tiรชu ฤแป A - Z ๐ฆ๐ฟ
          <% } else if (item === 'title-desc') { %>
            Tiรชn ฤแป Z - A z๐ฆ
          <% } else if (item === 'createdAt-asc') { %>
            Ngรy tแบกo tฤng dแบงn
          <% } else if (item === 'createdAt-desc') { %>
            Ngรy tแบกo giแบฃm dแบงn
          <% } %>
        </option>
      <% }) %>
    <% } %>
  </select>
  <button type="submit" class="btn btn-primary ms-1 sort-clear">
    <i class="bi bi-eraser"></i>
  </button>
</form>
