<div class="d-flex justify-content-start flex-wrap gap-2">
  <% activeStatus.forEach(btnActive => { %>
  <button
    class="btn btn-outline-primary btn-sm flex-grow-1 <%= btnActive.class %>"
    btn-status-filter="<%= btnActive.status %>"
  >
    <%= btnActive.name %>
  </button>
  <% }) %>
</div>
